@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300&display=swap");

/* Light theme color palette: to be implemented */
/* font-family: "Poppins", sans-serif; */

:root {
  --text: #f2f3f8;
  --background: #0b0e1b;
  --primary: #424c80;
  --secondary: #151828;
  --accent: #5d6aac;

  letter-spacing: 0.03rem;
  --gradient-start: rgb(131, 83, 241);
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, p {
  cursor: default;
}

html {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  background-color: var(--background);
}

main {
  min-height: 100vh;
  --cursorXPos: 50vw;
  --cursorYPos: 50vh;
}

main:before {
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  background: radial-gradient(
    circle 25rem at var(--cursorXPos) var(--cursorYPos),
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.005) 100%
  );
  z-index: -1;
}

a {
  color: var(--text);
  text-decoration: none;
}

header {
  overflow: hidden;
  font-weight: bold;
  z-index: 2;
}

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}

.gradient-rounded-border {
  border-radius: 10px;
  border: 5px solid transparent;
  background:
    linear-gradient(var(--secondary) 0%, var(--secondary) 100%) padding-box,
    linear-gradient(to top, rgb(86, 89, 218), rgb(95, 208, 248)) border-box;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

body #main-nav {
  height: 3.5rem;
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* begin nav-bar styles */
#logo-div {
  display: flex;
  align-items: center;
}

#logo-span {
  font-size: 2rem;
}

#nav-list-container {
  opacity: 1;
  width: 25rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 100;
}

.page-link {
  background-color: transparent;
  border-radius: 10px;
  padding: 0.7rem;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.page-link:hover {
  background-color: var(--accent);
}

#svg-list-container {
  display: flex;
  gap: 0.5rem;
}

.social-link-svg:hover {
  filter: none;
  transition-property: filter;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.social-link-svg:hover {
  filter: invert(1);
}

#github-svg-li {
  display: flex;
  align-items: center;
}

#github-svg {
  width: 1.5625rem;
  height: 1.5625rem;
}

#linkedin-svg {
  width: 2rem;
}

/* Hero section styles */
#hero-section {
  height: 90vh;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
}

#hero-section h1 {
  font-weight: 500;
  font-size: 3rem;
  opacity: 0.8;
}

#hero-section h3 {
  font-weight: 400;
  font-size: 1.5rem;
  opacity: 0.5;
  text-indent: 2rem;
}

#hero-section p {
  font-size: 1rem;
  opacity: 0.5;
}

#main-text-container {
  max-width: 100%;
  padding: 10rem;
}

.blob-motion {
  position: absolute;
  transform: translateY(-50%) translateX(-50%) scale(0.75);
  z-index: -1;
}

.arrow-scroll {
  position: relative;
  height: 4rem;
}

.arrow {
  border: solid var(--accent);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.arrow:nth-child(2) {
  animation:
    arrow1 1.5s
    ease-in-out infinite;
}

.arrow:nth-child(3) {
  animation:
    arrow2 1.5s
    ease-in-out infinite;
}

@keyframes arrow1 {
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}

#hero-bottom-half {
  cursor: pointer;
}

/* About section styles */
#about-section {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
  padding-top: 5rem;
}

.compile-prompt {
  flex: 1;
  color: var(--text);
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 1.25rem;
}

.compile-prompt > h1 {
  font-size: 2.5rem;
  line-height: 1.5;
}

#terminal-flex {
  flex: 9;
  box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
  display: flex;
}

#right-about-card {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0;
  transition: flex-grow 1s ease;
  z-index: -5;
  opacity: 0;
  height: 0;
  transition: opacity 0.5 ease, height 0.5 ease;
  overflow: hidden;
}

#terminal-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -5;
}

#terminal-wrapper {
  width: 100%;
  height: 100%;
  color: var(--text);
  font-family: monospace;
  font-size: larger;
  padding: 1rem;
  transform: translateZ(10px);
  box-sizing: border-box;
}

#terminal-wrapper .terminal-text {
  display: inline-block;
}

#info-card-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.info-card {
  flex: 1;
  
  box-sizing: border-box;
  padding: 1rem;
  color: var(--text);
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  transition-delay: 0s;
}

.info-card > h1 {
  text-align: center;
  font-size: 2rem;
}

.info-card > p {
  margin-top: 2rem;
  font-size: 1rem;
  line-height: 1.33rem;
}

#skills-blurb {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 15% 15% 70%;
  gap: auto 0.25rem;
  padding: 1.5rem;
}

#skills-grid-header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: start;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-list > li {
  box-sizing: border-box;
  border: 2px solid var(--primary);
  padding: 0.6rem;
  margin: 0.3rem;
  border-radius: 30px;
}

#pl-grid-header {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  justify-self: center;
}

#pl-list {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  justify-content: space-around;
}

#frameworks-header {
  grid-column: 2 / 3;
  grid-row: 2/ 3;
  align-self: start;
  justify-self: center;
}

#frameworks-list {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-content: space-around;
}

#databases-header {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  align-self: start;
  justify-self: center;
}

#databases-list {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  justify-content: space-evenly;
}

/* Projects section styles */
.project-header {
  text-align: center;
  color: var(--text);
  padding: 2rem;
  margin-bottom: 5rem;
  font-size: 3rem;
}

.main-section {
  margin-left: 5rem;
  margin-right: 5rem;
}

main #projects-grid {
  box-sizing: border-box;
  min-height: 100vh;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  gap: 100px 100px;
  z-index: -3;
}

.project-container {
  display: flex;
  justify-content: space-around;
  border-width: 5px;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(86, 89, 218), rgb(95, 208, 248)) 1;
}

.project-card {
  width: 100%;
  position: relative;
  overflow: hidden;
  color: var(--text);
}

.project-img-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#biomatch-img {
  background-image: url("./assets/images/biomatch-homepage.png");
}

#wakeup-img {
  background-image: url("./assets/images/wakeupapp.png");
}

#stickynote-img {
  background-image: url("./assets/images/stickynote.png");
}

#calculator-img {
  background-image: url("./assets/images/calculator.png");
}

.project-img {
  background-size: 100%;
  background-position-x: left;
  background-repeat: no-repeat;
  height: 100%;
  transition: background-size 0.3s ease-in-out;
}

.project-card .project-blurb {
  position: absolute;
  padding: 1rem;
  bottom: 0;
  height: 15%;
  background: var(--primary);
  backdrop-filter: blur(20px);
  transition: height 0.3s ease-in-out;
}

.project-blurb .project-description {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.action-btn {
  float: right;
  padding: 0.5rem 1rem;
  font-family: inherit;
  background: #0AA0E2;
  border: 0;
  color: white;
  border-radius: 15px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.action-btn:hover {
  background: #098fc8;
}

.project-card:hover .project-blurb{
  height: 80%;
}

.project-card:hover .project-img{
  background-size: 125%;
}

.project-card:hover .project-blurb .project-description{
  opacity: 1;
}

.project-blurb > h3 {
  font-size: 2rem;
}

.project-blurb > p {
  padding-top: 0.5rem;
}

/* Footer style */
.footer-container {
  box-sizing: border-box;
  margin-top: 7.5rem;
  min-height: 15vh;
}

.footer-container > .footer-line {
  border: 1px solid var(--accent);
}

.footer-container > #footer {
  display: flex;
  justify-content: space-around;
  color: var(--text);
  opacity: 0.7;
}

#footer > .build-info {
  box-sizing: border-box;
  padding: 1.5rem;
}

#footer > .return-arrow-scroll {
  padding: 1.5rem;
  position: relative;
  right: 5%;
  height: 4rem; 
  cursor: pointer;
}

.return-arrow-scroll > p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
  bottom: -66%;
}

.return-arrow {
  border: solid var(--accent);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 45%;
  transform: translateX(150%) rotate(-135deg);
}

.return-arrow:nth-child(2) {
  animation:
    return-arrow1 1.5s
    ease-in-out infinite;
}

.return-arrow:nth-child(3) {
  animation:
    return-arrow2 1.5s
    ease-in-out infinite;
}

@keyframes return-arrow1 {
  100% {
    opacity: 0;
    top: 22.5%;
  }
}

@keyframes return-arrow2 {
  100% {
    opacity: 0;
    top: 0%;
  }
}